body {
  margin: 0;
}


#barrage-screen {
  display: flex;
  flex: 1;
  margin: 0 24px;
  height: 640px;
  position: relative;
}

.barrage {
  position: absolute;
}

.barrage-operator {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.barrage-operator > #barrage-input {
  margin-bottom: 12px;
}
