body {
  margin: 0;
}


#barrage-screen {
  display: flex;
  flex: 1;
  margin: 0 24px;
  height: 640px;
  position: relative;
  border: 1px solid black;
  overflow: hidden;
}

.barrage {
  position: absolute;
}

.barrage-operator {
  margin-top: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.barrage-operator > #barrage-input {
  margin-bottom: 12px;
}

#barrage-input {
  width: 280px;
  height: 24px;
}

#barrage-shoot {
  color: rgba(189, 151, 148);
  border: 1px solid rgba(189, 151, 148);
}

.barrage-button {
  width: 120px;
  height: 32px;
}
