node_modules
scripts
.eslintrc.js
jest.config.js
jest-e2e.config.js
packages/**/e2e/**.js
packages/**/tailwind.config.js
*.css
*.scss
*.png
*.html
packages/**/postcss.config.js
packages/**/dist
packages/enterprise
packages/github-trending-raw
