.content {
  margin: 0 auto;
  max-width: 1200px;
}

.cart-icon-container {
  position: fixed;
  top: 0;
  right: 0;
  padding: 12px;
  background-color: #1677ff;
}

.cart-icon {
  font-size: 40px;
}

.cart-sidebar-title {
  display: flex;
  //flex: 1;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.cart-item {
  width: 100%;
  display: flex;
  flex-direction: row;
  position: relative;
  margin-bottom: 12px;
}

.cart-item-content {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-left: 12px;
}

.cart-item-close {
  position: absolute;
  top: 0;
  right: 0;
}

.cart-item-list-container {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  height: 100%;
}

.cart-item-list {
  width: 100%;
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
}

.cart-sidebar-footer {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.cart-icon-count {
  position: absolute;
  right: 8px;
  bottom: 8px;
  width: 18px;
  height: 18px;
  line-height: 16px;
  font-size: 12px;
  background-color: #ff4d4f;
  color: #ffffff;
  border-radius: 50%;
  text-align: center;
}
